<div>

    <h1>{{title}}</h1>

    <div id='messages'>
        

    </div>

    <div>
       
        <input placeholder='Insertar mensaje' type='text' id='message'>
    </div>

</div>




<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js'></script>

<script src='/socket.io/socket.io.js'></script>

<script src='/js/main.js'></script>