<form action="" class="logIn">
    <fieldset>
        <h2>Inicia sesión</h2>
        <label for="userName">Nombre de usuario</label>
        <input type="text" id="userName" name="userName">
        <hr>
        <label for="userPassword">Contraseña</label>
        <input type="password" id="userPassword" name="userPassword">
        <hr>
        <input type="submit" id="buttonSumbit">
    </fieldset>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/auhtLogin.js"></script>