<div>
    {{#if logged}}

    <h1 class="userName" id="userName">Usuario:{{user}}</h1>
    <form action="" class="newMessage">
        <fieldset>
            <label for="newMessage">Nuevo Mensaje:</label>
            <input type="text" id="newMessage">
            <input type="submit" id="buttonSumbit" class="buttonSumbit">
        </fieldset>
    </form>
    <ul id="listMessages">
        {{#each messages}}
        <li class="boxMessage">
            <p class="user">Usuario:{{this.user}}</p>
            <p class="message">Mensaje:{{this.message}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <div class="logInBox">
        <h2>¿Quieres ver el chat?</h2>
        <div>
            <a href="http://localhost:8080/chat/AuthLogin"><button id="login">Inicia sesion</button></a>
        </div>
    </div>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
{{#if logged}}
<script src="/js/chatSocket.js"></script>
{{/if}}