*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    height: 6rem;
    width: 6rem;
}

form {
    position: fixed;
    right: 2rem;
    top: 2rem;
}

#thumbnail {
    display: block;
    margin-top: 1rem;
}

.logIn {
    position: static;
    margin: auto;
    width: 40%;
    margin-top: 5rem;
}

.newMessage {
    position: static;
    top: 2rem;
    left: 0;
}
.newMessage input{
    width: 60%;
    height: 6rem;
    margin: 2rem;
}
#buttonSumbit{
    width: 3rem;
    height: 2rem;
}
.boxMessage{
    list-style: none;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    width: fit-content;
}
.logInBox{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:15rem;
}
.logInBox button{
    padding: .2rem;
}